:root {
	/* 正文，帮助信息，补充信息 */
	--devui-font-size: 14px;
	/* 卡片标题 */
	--devui-font-size-card-title: 16px;
	/* 页面标题 */
	--devui-font-size-page-title: 16px;
	/* 弹窗标题、数字	 */
	--devui-font-size-modal-title: 18px;
	/* 购买价格	 */
	--devui-font-size-price: 20px;
	/* 数据总览 */
	--devui-font-size-data-overview: 24px;
	/* 图标大小	 */
	--devui-font-size-icon: 16px;
	/* 小控件文字大小 */
	--devui-font-size-sm: 12px;
	/* 中控件文字大小 */
	--devui-font-size-md: 14px;
	/* 大控件文字大小 */
	--devui-font-size-lg: 14px;
	/* 内容文字粗细 */
	--devui-font-content-weight: normal;
	/* 规范行高	 */
	--devui-line-height-base: 1.5;
}
